<config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
        <router operation="replace">
            <router-ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
                <ospf>
                    <process-id>
                        <id>20</id>
                        <network>
                            <ip>10.10.20.0</ip>
                            <wildcard>0.0.0.255</wildcard>
                            <area>0</area>
                        </network>
                        <network>
                            <ip>10.10.200.0</ip>
                            <wildcard>0.0.0.255</wildcard>
                            <area>0</area>
                        </network>
                        <router-id>2.2.2.2</router-id>
                    </process-id>
                </ospf>
            </router-ospf>
        </router>
    </native>
</config>